
/*EJERCICIO 1 
.laboratoria1{
	display:block;
	background-color:#FFFF00;
	padding:10px 0px 30px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
	width:350px;
	
}

.es1{
	background-color:#FA58D0;
	padding:10px 0px 30px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
	width:350px; 
	
}*/





/* EJERCICIO 2
.laboratoria2{
	
	display:block;
	background-color:#FFFF00;
	padding:10px 0px 30px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
	width:200px;
	margin: 20px auto;
}

.es2{
	background-color:#FA58D0;10px 0px 30px 0px;
	padding:
	font-family: Robot, sans-serif;
	text-align:left;
	width:200px; 
	margin:0px auto;
	
	
}*/




/*EJERCICIO 3
*{
	margin: 0 auto;
}
	


	
	
.lab div{
	display:inline-block;
	
}

.laboratoria3{
	
	background-color:#FFFF00;
	padding:10px 0px 30px 0px;
	padding-bottom:6px;
	font-family: Robot, sans-serif;
	text-align:left;
	

}

.es3{
	background-color:#FA58D0;
	padding:10px 15px 5px 0px;
	font-family: Robot, sans-serif;
	text-align:left; 
	


	
	
}

.transformacion3{
	background-color:#FFFF00;
	padding:10px 15px 5px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
	
	

}*/

/*EJERCICIO 4

*{
	margin: 0 auto;
}
	
.lab div{
	display:inline-block;
	
}

.laboratoria4{
	
	background-color:#FFFF00;
	padding:10px 100px 20px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
	

}

.es4{
	background-color:#FA58D0;
	padding:10px 130px 20px 0px;
	font-family: Robot, sans-serif;
	text-align:left; 
	


	
	
}

.transformacion4{
	background-color:#FFFF00;
	padding:10px 15px 20px 0px;
	font-family: Robot, sans-serif;
	text-align:left;
}*/








.cuadros{
	margin: 0 auto;
}
.cuadro1{
	display:block;
	width:50px;
	height:50px;
	border: 1px solid;
	background-color:#2E64FE;
}

.cuadro2{
	display:block;
	width:170px;
	height:60px;
	border: 1px solid;
	background-color:#2E64FE;
	
}

.cuadro22{
	display:inline-block;
	width:50px;
	height:50px;
	border: 1px solid;
	background-color:#2E64FE;
}





